<!DOCTYPE html>
<html>
    <body>
        <h1>Unit 2 - Web Fundamentals</h1>

        <h2>Studio App</h2>
        <ul>
            <li><a href="http://flicklist-python.appspot.com/">Flicklist</a></li>
        </ul>

        <h2>Problem Sets</h2>
        <ul>
            <li><a href="/caesar">Caesar</a></li>
            <li><a href="/signup">Signup</a></li>
        </ul>

        <h2>Examples</h2>
        <ul>
            <li><a href="/hello">Hello, templates!</a></li>
            <li><a href="/fizzbuzz?n=30">FizzBuzz</a></li>
            <li><a href="/shoppinglist">Shopping List</a></li>
            <li><a href="/asciichan">AsciiChan</a></li>
        </ul>
    </body>
</html>
